html{
    font-family: 'Caveat', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Raleway', sans-serif;
}

.menu{
    border: 2px solid peachpuff;
    background-color: rgba(255, 218, 185, 0.581);
    padding:5px;
    margin: 5px;
    display: inline-block;

}
.right{
    float: right;
}
h1{
    font-size: 5rem;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
    display: block;
}
h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
}
h3{
    font-size: 1.5rem;
}
span{
    font-weight: bold;
}

a { 
    color: inherit;
    text-decoration:none;
 } 
 .uvod{
    width: 40%;
    text-align: center;
    margin-left: 30%;
 }
 .pictures{
    display:inline-block;
 }
 .picture{
    height: 300px;
    padding: 45px;
    padding-bottom: 0px;

 }
 .popis{
    margin-top: 0px;
    text-align: center;
 }

 footer{
    text-align:center;
    margin-top: 50px;
 }

 @media(max-width:680px){
    h1{
        font-size:3rem;
    }
    h2{
        font-size: 1.5rem;
    }
    h3{font-size: 1rem;}
    .uvod{
        width: 100%;
        text-align: center;
        margin-left: 0%;
    }
    .picture{
        padding: 0px;
        width: 100%;
    }
    .pictures{
        display: inline-block;
        padding:0px;
        margin:0
        
    }
   
    .popis{
        text-align: center;
    }
 }